body {
    font-family: sans-serif;
    margin: 2em;
}

#tool-list {
    list-style: none;
    padding: 0;
}

#tool-list li {
    margin: 1em 0;
}

#tool-list a {
    text-decoration: none;
    color: blue;
    font-size: 1.2em;
}